@model IEnumerable<Bokhandel.Models.CustomerBooks>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width = device-width , initial-scale = 1" />
        <title>Rasmus Library - Customers and their Books</title>
    </head>
    <body>
        <h1>Customers and their books</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerBookId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsReturned)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerBookId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsReturned)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </body>
</html>
