@model CustomerViewModel

<h1 class="create-form">Customer Information</h1>

<div class="container mt-4 mb-4 customer-info">
    <h4>@Model.Customer.Name</h4>
    <h4>@Model.Customer.Address</h4>
    <h4>@Model.Customer.PhoneNr</h4>
    <h4>@Model.Customer.Email</h4>

    <h5 class="lead mt-5">Borrowed books:</h5>
    <ul>
        @if (Model.Books != null)
        {
            foreach (var book in Model.Books)
            {
                <li>
                    <h5>@book.Author - @book.Title</h5>
                </li>
            }
        }
    </ul>
</div> 
<div class="create-form customer-p">
    <a asp-action="List">Back to Customers</a>
</div>
